@import mixin

@include for-tablet-only

    .wrapper
        .section-content
            width: 692px
        .section-first
            display: flex
            align-items: center
            flex-wrap: wrap
            justify-content: center
            .first-lockup
                .image-wrapper
                    left: 15%
                    img
                        max-height: 350px
                .image-first-logo
                    padding: 100px 0
        .section-image
            min-height: 250vh
            .section-content
                .inner
                    .el
                        left: 0 !important
                        &.el-1
                            top: 20% !important
                        &.el-2
                            top: 40% !important
                        &.el-3
                            top: 60% !important
                            margin-left: 0
            .overflow-wrapper
                .images
                    text-align: right
